mat-card {

  background-color: #e1e1e1;
  max-width: 350px;

  mat-card-header {


    mat-card-subtitle {
      cursor: pointer;
    }

    mat-card-subtitle:hover {
      text-decoration: underline;
      color: red;
    }
  }

  img {
    max-width: 350px;
    max-height: 250px;
    width: auto;
  }
}
